body {
  font-family: 'Fredoka One', cursive;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

#entry {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50vw;
  height: 35vw;
  background-color: #3B7EA1;
  border-radius: 3%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  padding: 1%;
  z-index: 1;
}

#draw-board {
  position: absolute;
  z-index: 0;
  background-color: #FDB515;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.row {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow: hidden;
}

.col {
  padding: 4%;
}

.one {
  animation-name: spin2;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.two {
  animation-name: spin;
  animation-duration: 1000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.three {
  animation-name: spin2;
  animation-duration: 7000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.four {
  animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.five {
  animation-name: spin2;
  animation-duration: 3000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

.six {
  animation-name: spin2;
  animation-duration: 10000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from { transform:rotate(0deg); }
  to { transform:rotate(360deg); }
}

@keyframes spin2 {
  from { transform:rotate(360deg); }
  to { transform:rotate(0deg); }
}

#selection {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin-top: 2%;
}

.choice {
  margin-left: 4%;
  margin-right: 4%;
}

.choice:hover {
  animation-name: wave;
  animation-duration: 1s;
}

/* TODO: PART 2 - Create wave animation */
@keyframes wave {
	0% { transform: translateY(0); }
	50% { transform: translateY(-40px); }
	100% { transform: translateY(0); }
}

.play:hover {
  animation-name: pulse;
	animation-duration: 0.5s;
}

@keyframes pulse {
	from { transform: scale(1); }
	to { transform: scale(1.5); }
}

img {
  max-height: 80%;
  max-width: 100%;
}
